<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="moflow.activities"
      android:versionCode="3"
      android:versionName="1.2">
    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="19" />

    <application android:icon="@drawable/gazer" android:label="@string/app_name" android:theme="@android:style/Theme.Holo">
		
		<activity 
		android:name="moflow.activities.MainMenuActivity"
		android:label="@string/app_name"
		android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

        <activity
		android:name=".PartyListActivity"
		android:label="Parties" >
			<intent-filter>
				<action android:name="moflow.activities.PartyListActivity" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

        <activity
		android:name=".CreatureCatalogActivity"
		android:label="Creature Catalog" >
			<intent-filter>
				<action android:name="moflow.activities.CreatureCatalogActivity" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity
		android:name=".EncounterListActivity"
		android:label="Encounters" >
			<intent-filter>
				<action android:name="moflow.activities.EncounterListActivity" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity
		android:name=".EditEncounterActivity"
		android:label="Edit Encounter" >
			<intent-filter>
				<action android:name="moflow.activities.EditEncounterActivity" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity
		android:name=".InitiativeActivity"
		android:label="Initiative" >
			<intent-filter>
				<action android:name="moflow.activities.InitiativeActivity" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

    </application>
</manifest>