<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="moflow.tracker"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity 
		android:name=".MainMenu"
		android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
		android:name=".OptionsScreen"
		android:label="Options" >
			<intent-filter>
				<action android:name="moflow.tracker.OptionsScreen" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
		android:name=".ManagerScreen"
		android:label="Managers" >
			<intent-filter>
				<action android:name="moflow.tracker.ManagerScreen" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
		android:name=".PCM_PartyListActivity"
		android:label="PartyList" >
			<intent-filter>
				<action android:name="moflow.tracker.PCM_PartyListActivity" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
		android:name=".PCM_EditPartyActivity"
		android:label="EditParty" >
			<intent-filter>
				<action android:name="moflow.tracker.PCM_EditPartyActivity" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
    </application>
</manifest>